.div-filler-span {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
}

.div-filler-span:hover {
    background-color: darken($gray-color, 10%);
    opacity: 0.15;
}